pca10059/mbr/armgcc/_build/
estc_adverts/pca10059/s113/armgcc/_build/
estc_service/pca10059/s140/armgcc/_build/nrf52840_xxaa.dfu
estc_service/pca10059/s140/armgcc/_build/
estc_gatt_server/pca10059/s140/armgcc/_build/
pca10059/s140/armgcc/_build/
